body {
    margin-top: 1.0em;
    background-color: #ededed;
    font-family: Helvetica, Arial, FreeSans, san-serif;
    color: #000000;
}
#container {
    margin: 0 auto;
    width: 700px;
}
h1 { 
    font-size: 3.8em; 
    color: #121212; 
    margin-bottom: 3px;
}
h1 .small {
    font-size: 0.4em;
}
h1 .small a {
    color:#F06D05;
}
h1 .title {
    color: #121212; 
}
h2 {
    font-size: 1.5em; color: #121212; 
}
h3 {
    text-align: center; color: #121212; 
}
a {
    color: #DA5013; text-decoration:none; 
}
.description {
    font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;
}
.download {
    float: right; 
}
pre {
    background: #000; color: #fff; padding: 15px;
}
hr {
    border: 0; width: 80%; border-bottom: 1px solid #aaa
}
.footer {
    text-align:center; padding-top:30px; font-style: italic; 
}

